---
title: Interests
icon: fa-user
order: 2
---

<p align="justify">
I enjoy exploring different topics, but I always find a connection back to mathematics.
I am trying to find the right task for myself, be it making web-apps for marvelous people, teaching the little I know to launch others into their goals or something else entirely which I am yet to find.
<br>
My only clue is that I enjoy reading, mostly mathematics, in my free time, be it how entropy can be a great measure of information, how Simpson's paradox shows that trend analysis is incredibly counter-intuitive or how Game Theory fits in so well with Darwin's theory of evolution with practical concepts such as Evolutionary Stable States and Nash Equilibria.
<br>
The interests below vary greatly in nature. Some are fleeting thoughts, other could become business ideas, and some are complete non-sense. Do you want to explore them together?</p>
<div class="row">
  {% for i in (1..3) %}
    <div class="4u 12u$(mobile)">
      {%- for interest in site.interests -%}
        {%- if interest.column == i -%}
          <div class="item">
            {% if interest.description %}
              <h4 align="center">{{ interest.description }}</h4>
            {% endif %} 
            <a href="{{ interest.link }}" class="image fit"><img src="{{ interest.image | relative_url }}" alt="{{ interests.image-alt-text }}" /></a>
            <header>
              <h3 align="justify">{{ interest.content }}</h3>
              {% if interest.link %}
              <a href="{{ interest.link }}" align="right">Find out more</a>
              {% endif %}
            </header>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {% endfor %}
</div>