{% for post in site.posts %}   
<details><summary>{{ post.date | date_to_string }} >> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
</summary><br>{{ post.excerpt }}<br>
  <div style="text-align: right">
    <b>Read the <a href="{{ site.baseurl }}{{ post.url }}">full text</a> ({% assign words = post.content | number_of_words %}
    {% if words < 180 %}
      1 min
    {% else %}
      {{ words | divided_by:110 }} mins
    {% endif %} ) or see more posts related to:</b>
    <br>
    {% for tag in post.categories %}
      [<a href="{{ site.baseurl }}{% link page_Tags.md %}#{{ tag | downcase | replace: ' ','-'}}">{{ tag }}</a>]
    {% endfor %}
  </div>
  <br>
</details>
 {% endfor %}


