<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
    clear: right;
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1488074800">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <script src="https://www.goodreads.com/review/grid_widget/65376142.Miguel's%20to-read%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=d&shelf=to-read&sort=avg_rating&widget_id=1488074800" type="text/javascript" charset="utf-8"></script>
    <noscript><br/>Share <a href="/">book reviews</a> and ratings with Miguel, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>
</div>

