<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>

<div id="gr_grid_widget_1488066570">

<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="Thing Explainer: Complicated Stuff in Simple Words" href="https://www.goodreads.com/book/show/25329850-thing-explainer"><img alt="Thing Explainer: Complicated Stuff in Simple Words" border="0" src="https://images.gr-assets.com/books/1431518396m/25329850.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="How to Win Friends and Influence People" href="https://www.goodreads.com/book/show/4865.How_to_Win_Friends_and_Influence_People"><img alt="How to Win Friends and Influence People" border="0" src="https://images.gr-assets.com/books/1442726934m/4865.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="A Mind for Numbers: How to Excel at Math and Science (Even If You Flunked Algebra)" href="https://www.goodreads.com/book/show/18693655-a-mind-for-numbers"><img alt="A Mind for Numbers: How to Excel at Math and Science" border="0" src="https://images.gr-assets.com/books/1387148777m/18693655.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Obvious: All You Need to Know in Business. Period." href="https://www.goodreads.com/book/show/967359.The_Obvious"><img alt="The Obvious: All You Need to Know in Business. Period." border="0" src="https://images.gr-assets.com/books/1347914363m/967359.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Seven Years in Tibet" href="https://www.goodreads.com/book/show/270032.Seven_Years_in_Tibet"><img alt="Seven Years in Tibet" border="0" src="https://images.gr-assets.com/books/1388251499m/270032.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Design of Everyday Things" href="https://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things"><img alt="The Design of Everyday Things" border="0" src="https://images.gr-assets.com/books/1442460745m/840.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Elon Musk: Inventing the Future" href="https://www.goodreads.com/book/show/22543496-elon-musk"><img alt="Elon Musk: Inventing the Future" border="0" src="https://images.gr-assets.com/books/1404411386m/22543496.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" href="https://www.goodreads.com/book/show/18077903-creativity-inc"><img alt="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" border="0" src="https://images.gr-assets.com/books/1400863577m/18077903.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Os Ficheiros Snowden: A história secreta do homem mais procurado do mundo" href="https://www.goodreads.com/book/show/22088963-os-ficheiros-snowden"><img alt="Os Ficheiros Snowden: A história secreta do homem mais procurado do mundo" border="0" src="https://images.gr-assets.com/books/1400101690m/22088963.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Wikinomics: How Mass Collaboration Changes Everything" href="https://www.goodreads.com/book/show/154341.Wikinomics"><img alt="Wikinomics: How Mass Collaboration Changes Everything" border="0" src="https://images.gr-assets.com/books/1441388719m/154341.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Theory of Moral Sentiments" href="https://www.goodreads.com/book/show/25700.The_Theory_of_Moral_Sentiments"><img alt="The Theory of Moral Sentiments" border="0" src="https://images.gr-assets.com/books/1328863965m/25700.jpg" /></a></div>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Miguel, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/65376142.To%20Read%20List?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=d&shelf=to-read&sort=date_added&widget_id=1488066570" type="text/javascript" charset="utf-8"></script>
