<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

<!--
  <div class="sidebar-item" style="text-align: center">
    <div class="sidebar-logo">
      <img src="avatar.jpg">
    </div>
  </div>
-->

<!--
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
-->



  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% for node in site.pages | sort:"url" %}
      {% if node.title != null %}
        {% if node.sidebar == true %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

<!-- This contains the CV link
    <a class="sidebar-nav-item" href="{{site.baseurl}}/CV.pdf">CV</a>
-->
  </nav>







  </div>


</div>