<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

<!--
  <div class="sidebar-item" style="text-align: center">
    <div class="sidebar-logo">
      <img src="avatar.jpg">
    </div>
  </div>
-->

<!--
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
-->



  <nav class="sidebar-nav">

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% for node in site.pages | sort:"url" %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{site.baseurl}}/CV.pdf">CV</a>
  </nav>



  <div class="sidebar-item">
  <center>Get in touch:</center>
    <p>
    <div id="contact-list" style="text-align: left">
      <a href="mailto:{{ site.author.email}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x"></i>
        </span>
        Email
      </a>
    </div>
    <div id="contact-list" style="text-align: left">
      <a href="https://github.com/{{ site.author.github}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x"></i>
        </span>
        GitHub
      </a>
    </div>
    <div id="contact-list" style="text-align: left">
      <a href="https://linkedin.com/in/{{ site.author.linkedin}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        LinkedIn
      </a> 
    </div>
    <div id="contact-list" style="text-align: left">
      <a href="https://www.goodreads.com/{{ site.author.goodreads }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-book fa-stack-1x"></i>
        </span>
        Goodreads
      </a>
    </div>
    <div id="contact-list" style="text-align: left">  
      <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x"></i>
        </span>
        StackOverflow
      </a>
    </div>
    <div id="contact-list" style="text-align: left">
      <a href="http://steamcommunity.com/id/{{ site.author.steam}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-steam fa-stack-1x"></i>
        </span>
        Steam
      </a>
    </div>
    <div id="contact-list" style="text-align: left">
      <a href="https://www.reddit.com/user/{{ site.author.reddit}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-reddit fa-stack-1x"></i>
        </span>
        Reddit
      </a>
    </div>


<!-- UNUSED BUTTONS!
    <div id="contact-list" style="text-align: left">  
      <a href="/atom.xml">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
      </a>
    </div>
    <div id="contact-list" style="text-align: left">  
      <a href="https://twitter.com/{{ site.author.twitter}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        Twitter
      </a>
    </div>
    <div id="contact-list" style="text-align: left">  
      <a href="http://orcid.org/0000-0002-5814-4977">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-user-md fa-stack-1x"></i>
        </span>
        Orcid
      </a>
    </div>
    <div id="contact-list" style="text-align: left">  
      <a href="http://scholar.google.ca/citations?user=Xrn76pEAAAAJ">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-google fa-stack-1x"></i>
        </span>
        Google Scholar
      </a>
    </div>
-->

  </div>


</div>