---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-12">
    <div class="post-area post">
      <article>
        {{content}}
      </article>
    </div>
  </div>
</div>
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-12">
    <div class="post-area ">
	  <div class="post-list-header">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <span class="icon">
          <svg viewBox="0 0 800 800">
            <path fill="#555" d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z"/>
            <circle fill="#555" cx="219" cy="581" r="71"/>
          </svg>
        </span>
      </a>
	  Puzzles
	  </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          {% endfor %}
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        <!-- </div> -->
      </div>
    </div>
  </div>

<!-- Removed the categories panel
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Categories
      </div>
      
      <a href="javascript:;" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
-->

</div>
