---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
        <div id="share-buttons">
    
    	<!-- Email -->
    	<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        	<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    	</a>
 
    	<!-- Facebook -->
    	<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        	<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    	</a>
    
    	<!-- Google+ -->
    	<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        	<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
	    </a>
    
	    <!-- Tumblr-->
	    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
	    </a>
     
	    <!-- Twitter -->
	    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
	    </a>
    
    	<!-- Reddit -->
    	<a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
    	    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    	</a>

	    <!-- Print -->
    	<a href="javascript:;" onclick="window.print()">
	        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
	    </a>

        </div>
        <script>
            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
        </script>
    </div>
	{% include comments.html %}
  </div>
  
  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
  
</div>
