---
layout: default
---


<h1 class="post-title">{{ page.title }} </h1>

<div id="contact-list" style="text-align: left" display="inline">  
  <a href="/atom_{{ page.title }}.xml">
    RSS Feed for {{ page.title }}
  </a>    
</div>

<p>


<div class="posts">
  {% for post in site.categories[page.title] %}
    <hr>
    <h1>{{ post.title }}</h1>
    <span class="post-date" display="inline">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}"> Read more... (
    {% assign words = post.content | number_of_words %}
      {% if words < 360 %}
        1 min
      {% else %}
        {{ words | divided_by:220 }} mins
      {% endif %} )
    </a>
  {% endfor %}
</div>